<div class="navbar navbar-default navbar-fixed-top secondary-nav">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="@Url.Action("TransactionList", "Bank")">Transactions</a></li>
				<li><a href="@Url.Action("Budgets", "Bank")">Budgets</a></li>
				<li><a href="@Url.Action("Categories", "Bank")">Categories</a></li>
				<li><a href="@Url.Action("Logins", "Bank")">Bank Setup</a></li>
			</ul>
		</div>
	</div>
</div>
