<div class="navbar navbar-default navbar-fixed-top secondary-nav">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="@Url.Action("ProfileSettings", "Account")">Settings Home</a></li>
				<li><a href="@Url.Action("Settings", "Dropbox")">Dropbox Settings</a></li>
				<li><a href="@Url.Action("Index", "Household")">Household Settings</a></li>
			</ul>
		</div>
	</div>
</div>
