@model CHABS.Models.DropboxSettingsViewModel

<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<ul>
				<li>
					<span>File Name in Dropbox: @Model.FileName</span>
				</li>
				<li>
					<span>File Path in Dropbox from the top level folder: @Model.FilePath</span>
				</li>
			</ul>
		</div>
	</div>
</div>