body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar.secondary-nav {
    top: inherit;
	min-height: 40px;
}

.body-content {
	margin-top: 10px;
}

.inner-body-content {
	margin-top: 50px;
}

.navbar.secondary-nav .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .navbar.secondary-nav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.deleted {
	text-decoration: line-through;
}